.App {
  text-align: center;
  font-weight: 100;
}
.appbar {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  color: black;
  min-width:100%;
  padding-Right: 0 !important;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
}

.winter {
  background: url(../../ninanitzschephotography/public/WintershootingTreptow.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 200vh;
}
.location {
  background: url(../../ninanitzschephotography/public/Schwangerschafsfoto_Johannisthal.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 200vh;
}

.box {
  background: url(../../ninanitzschephotography/public/Herbst-14.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 200vh;
}

.backgroundMoments {
  object-fit: contain;
  background-size: contain;
  min-height: 50vh;
  background: url(../../ninanitzschephotography/public/FamilienshootingPapaSohnBaumschulenweg.jpg) no-repeat ;

}

.automnBackground{
  min-height: 70vh;
  background: url(../../ninanitzschephotography/public/Herbst-07.jpg) no-repeat ;
}

.pregnancy {
  background: url(../../ninanitzschephotography/public/SchwangerschaftInJohannisthal.jpg) no-repeat ;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-width: 292px;
  min-height: 339px;
  object-fit: cover;
  object-position: 50% 50%;
}

.splittetBackgroundSize {
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  min-width: 292px;
  max-width:830px !important;
  object-fit: cover;
  object-position: 50% 50%;
}

.schnorkel {
  font-family: "SnellRoundhand", serif;
  color: white;
  font-size: 60px;
}


.darkFont {
  color: rgb(100 95 88) !important;
}


.heading {
  background-color: rgb(100 95 88 / 32%);
  width: 100%;
  margin-top: 100vh;

  justify-content: center;
  align-items: center;
  display: grid;
  align-content: center;
  justify-items: center;
}

.largeImageLargeText {
  text-align: center;
  font-weight: 200;
  width: inherit;
  padding:10px;

  font-family: "SnellRoundhand", serif;
  color: white;
  line-height: 6vh;
  font-size: 7vh;

}

.largeImageSmallText {
  text-align: center;
  width: inherit;
  font-family: "Futura", serif;
  color: white;
  font-weight: 100;
  font-size: 20px;
  padding:10px;

}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(100 95 88);
  background-color: rgb(235, 230, 224)
}

.informationText {
  padding: 30px;
  background-color: rgb(100 95 88);
  color: rgb(235, 230, 224);
  font-size: 17px;
  font-family: system-ui;
  text-align: center;
}

.informationTextResponsive {
  display: grid!important;
  text-align: center;
}
.informationTextCenter {
  text-align: left;
}

.aboutMe {
  background-color: white;
  color: rgb(100 95 88);
  padding: 30px;
}


.aboutMe p{
  font-size: 18px;
  margin-top: 5vh;
}

.aboutMe h2 {
  border-bottom: solid;
  font-size: 40px;
  text-align: center;
  font-weight: 200;
  width: inherit;
}

.aboutMe Button {
  border-color: rgb(235, 230, 224);
  color: rgb(100 95 88);
  margin-top: 5vh;
}
.aboutMe Button:hover {
  background-color: rgb(235, 230, 224);
  border-color: rgb(100 95 88);
}


.treptow {
  margin-left: 0px !important;
  margin-top: 0px !important;
  width: fit-content !important;
  padding: 30px;
  background-color: rgb(235, 230, 224);
  font-size: 17px;
  font-family: system-ui;
  color: rgb(100 95 88);
}

.NoPadding{
  padding: 0 !important;
}

.basicPadding{
  padding: 30px;

}


.about {
  background: url(../../ninanitzschephotography/public/Familienfotografin-NinaNitzsche.jpg) no-repeat ;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  min-width: 292px;
  min-height: 339px;
  object-fit: cover;
  object-position: 50% 50%;
}


.h3 {
  font-size: 27px;
  text-align: center;
  font-weight: 400;
}

.strong {
  font-weight:300
}




/*.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}*/
